.header {
    width: 100vw;
    height: 100vh;
    position: relative;
    .header-content {
        position: absolute;
        bottom: 32px;
        width: 100%;
        text-align: center;
        .header-title {
            font-size: 62px;
            font-family: "Fira Sans", serif;
            font-weight: 700;
            color: #fff;
            white-space: nowrap;
            overflow: hidden;
            transition:  opacity 0.25s ease;
            @media screen and (max-width: 768px) {
                font-size: 48px;
            }
            @media screen and (max-width: 540px) {
                font-size: 32px;
            }
        }
        .description ,.date {
            margin-top: 10px;
            font-size: 14px;
            letter-spacing: 8px;
            font-family: "Roboto", serif;
            font-weight: 700;
            color: #fff;
            text-align: center;
        }
    }
    #canvas {
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

#canvas2 {
    max-width: 800px;
    height: 600px;
    width: 100%;
    clip-path: polygon(10% 0, 90% 0, 90% 100%, 10% 100%);
    @media screen and (max-width: 1060px) {
        clip-path: unset;
    }
    @media screen and (max-width: 768px) {
        height: 400px;
        width: 400px;
    }
    @media screen and (max-width: 600px) {
        height: 360px;
        width: 360px;
    }
    @media screen and (max-width: 450px) {
        height: 300px;
        width: 300px;
    }
}