#cover {
    padding: 60px 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #1D1D1D;
    .cover-content {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        @media screen and (max-width: 768px) {
            max-width: 400px;
        }
        @media screen and (max-width: 400px) {
            max-width: 320px;
        }
        .title {
            font-size: 32px;
            font-family: "Fira Sans", serif;
            font-weight: 700;
            color: #fff;
            @media screen and (max-width: 768px) {
                font-size: 24px;
            }
        }
        .description {
            font-size: 16px;
            font-family: "Fira Sans", serif;
            font-weight: 400;
            color: #fff;
            text-align: center;
            @media screen and (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
    .cover-illustration {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        // background-color: wheat;
        .title {
            position: absolute;
            bottom: 8px;
            font-size: 32px;
            font-family: "Fira Sans", serif;
            font-weight: 700;
            color: #fff;
            @media screen and (max-width: 768px) {
                font-size: 24px;
            }
            .subtitle {
                font-size: 20px;
                letter-spacing: 8px;
                font-family: "Roboto", serif;
                font-weight: 700;
                color: #fff;
                text-align: center;
            }
            .date {
                margin-top: 10px;
                font-size: 14px;
                letter-spacing: 8px;
                font-family: "Roboto", serif;
                font-weight: 700;
                color: #fff;
                text-align: center;
            }
        }
    }
    .btn {
        color: #fff;
    }
}