html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.tp-dfwv {
    top: unset !important;
    bottom: -163%;
    @media screen and (max-width: 1300px) {
        bottom: -123%;
    }
    @media screen and (max-width: 1300px) {
        display: none;
    }
}